body{
    font-family: 'Source Sans Pro', sans-serif;

}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-image:linear-gradient(#000a,#000a), url(img/slider/slider-01.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    color: aliceblue;
}
.nav{
    position: fixed;
    background-color: rgb(32, 32, 32);
    top:0;
    left: 0;
    right: 0;
   width: 100%;
   z-index: 9999999;
}
.container{
   /* width: 90%;*/
    margin: auto;
    margin-top: 10px;
} 
/*************media continer*************************************/
@media (min-width:576px){
    .container{
     width: 576px;
    }
}
@media (min-width:768px){
    .container{
     width: 720px;
    }
}
@media (min-width:992px){
    .container{
     width: 960px;
    }
}
@media (min-width:1200px){
    .container{
     width: 1140px;
    }
}
@media (min-width:1400px){
    .container{
     width: 1320px;
    }
}
/******************************************Rest**********************/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ededed;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(150, 147, 147);
}
/******************************************nav***********************/
.nav-logo{
    float: left;
    width: 20%;
    text-align: center;
    margin: 5px 0;
    color: rgb(255, 0, 76);
    font-size: 20px;
    font-weight: 20px;

}
.nav-links ul{
float: right;
}
.nav-links ul li{
    float: left;
    margin: 10px 20px;
    list-style-type: none;
}
.nav-links ul li a{
    text-decoration: none;
    color: aliceblue;
}
.nav-links ul li a.active{
    color: crimson;
}
.clr{
    clear: both;
}

.container input{
    display: none;
}
.container label{
    font-size: 30px;
    color: rgb(255, 0, 76);
    float: right;
    cursor: pointer;
    display: none;
    
}
.header-cap{
    text-align: center;
    margin-top: 250px;
}
.header-cap h1{
    margin: 20px;
    color: rgb(255, 0, 76) ;
    font-size: 50px;
    font-weight: bold;

}
.header-cap h5::after{
    content: '';
    animation: title 5s infinite;
}
@keyframes title {
    0%{ 
    content:'|'
}
    0%{ 
        content:'D|'
    }
    4%{ 
        content:'De|';
    }
    8%{ 
        content:'Des|';
    }
    12%{ 
        content:'Desi|';
    }
    16%{ 
        content:'Desig|';
    }
    20%{ 
        content:'Design|';
    }
    24%{ 
        content:'Designe|';
    }
    28%{ 
        content:'Designer|';
    }
    32%{ 
        content:'Designe|';
    }
    36%{ 
        content:'Design|';
    }
    40%{ 
        content:'Desig|';
    }
    44%{ 
        content:'Desi|';
    }
    48%{ 
        content:'Desi|';
    }
    52%{ 
        content:'Des|';
    }
    56%{ 
        content:'De|';
    }
    60%{ 
        content:'D|';
    }
    64%{ 
        content:'De|';
    }
    68%{ 
        content:'Dev|';
    }
    72%{ 
        content:'Deve|';
    }
    76%{ 
        content:'Devel|';
    }
    80%{ 
        content:'Develo|';
    }
    84%{ 
        content:'Deelop|';
    }
    88%{ 
        content:'Develope|';
    }
    90%{ 
        content:'Developer|';
    }
    91%{ 
        content:'Develope|';
    }
    92%{ 
        content:'Develop|';
    }
    93%{ 
        content:'Develo|';
    }
    94%{ 
        content:'Devel|';
    }
    95%{ 
        content:'Deve|';
    }
    96%{ 
        content:'Dev|';
    }
    97%{ 
        content:'De|';
    }
    100%{ 
        content:'D|';
    }
}

/*************************************text*******************/ 
.text{
    text-align: center;

}
.text .brdr{
    width: 150px;
    height: 1px; 
    background-color: rgb(255, 0, 76);
    margin: 20px auto;
    position: relative;
} 
.text .brdr::after,.text .brdr::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: rgb(255, 0, 76);
    transform: translatex(-50%);
}
.text .brdr::after{
    top: 5px;
}
.text .brdr::before{
    bottom: 5px;
}

/**********************************************************************About*******************************************************/
.about{
    padding: 70px 0;
}
.about .about-image,.about .about-info{
    width: 50%;
    float: left;
}
.about .image-frame{
    width: 60%;
    margin-left: auto;
    border: solid 6px black;
    border-radius: 20px;
}
.about-image .image{
    transform: translate(20px,20px);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    color: white;
    font-size: 30px;
}

.about .layer{
    background-color: rgba(112, 112, 121, 0.425);
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    transition: top 1s;
}

.about .layer .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.about .image img{
    width: 100%;
}
.about .image:hover .layer{
    top: 0;
}
.about .image i:hover{
    color: rgb(230, 13, 13);
}
.about .image i{
    transition: all 1s;
}
.about .about-info{
padding-left: 50px;
}
.about .about-info h2{
    position:relative ;
}
.about .about-info h2::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 5px;
    top: 10%;
    left: -10px;
    background-color: rgb(255, 0, 76);
}
.about .about-info p{
    padding: 20px 0;
}
.about .about-info ul{
    float: left; 
    width: 50%;
    font-size: 18px;
   padding-right: 20px;
}
.about .about-info ul li{
   padding-bottom: 10px; 
    list-style-type: none;

}
.about .about-info ul li:not(:last-child){
    border-bottom: 1px red dashed;
}
.about .about-info a{
    display: inline-block;
    padding: 15px 5px;
    color: white;
    background-color: rgb(230, 13, 13);
    border-radius: 5px;
    font-size: 20px; 
   margin-top: 30px;
    text-decoration: none;
}
.about .about-info a:hover{
    background-color:rgba(230, 13, 13, 0.781);
}
/**********************************************************Services******************/
.services{
    padding: 20px 0;
    background-color: rgba(207, 206, 206, 0.89);
}
.services-area{
    width: 25%;
    float: left;
    margin-top: 20px;
    overflow: hidden;
}
.services-area .item{
    padding: 10px;
    text-align: center;
    transition: all 1s;
} 
.services-area .item:hover{
    background-color: aliceblue;
}
.services-area .item h3{
    padding: 10px;
}
.services-area .item i{
    color: rgb(230, 13, 13);
    font-size: 30px;
    transition: all 1s 0.5s;
}
.services-area .item:hover i{
    transform: scale(2);
}
/*********************************************portflio/*********************************************************************/
.portfolio{
    padding: 70px 0;
} 
.portfolio .portfolio-nav{
    text-align: center;
}
 .portfolio .portfolio-nav li{
  display: inline-block;
  padding: 10px; 
  margin: 40px 0;
  transition:all 1s ;
}
.portfolio .portfolio-nav li:hover{
    color: rgb(230, 13, 13);
}
.portfolio .item{
    width: 33.3%;
    float: left;
    padding: 16px;

}
.portfolio .item .image img{
    width: 100%;
}
.portfolio .image{
    position: relative;
}
.portfolio .layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    transition: all 1s;
}
.portfolio .image:hover .layer{
    opacity: 1;
}
.portfolio .layer i{
    position: absolute; 
    bottom: 10px;
    right: 10px;
    color: rgb(230, 13, 13);
}
/********************************************************counter*****************************/
.counter{
    background-color: rgba(207, 206, 206, 0.89);
    padding: 30px 0;
} 
.counter .item{
    width: 25%;
    float: left; 
    text-align: center;
}
.counter .item i{
    padding: 20px;
    color: rgb(255, 0, 76);
    font-size: 30px;
}
.counter .item p{
    font-size: 20px;
    font-weight: bold;
}
/***************************************************testimonail***************************************/
.testimonial{
    padding: 70px 0; 
}

.testimonial .text-area{ 
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    background-image: linear-gradient(135deg, rgb(224, 36, 36) 15%, #eee6e6e0 15%);
}
.testimonial .image{
    width: 180px;
    float: left; 
}
.testimonial .image img{
border-radius: 50%;
}
.testimonial .test-info{
    width: calc(100% - 200px);
    float: left;
}

.cap{
    padding: 10px;
}
.blog .cap a{
    text-decoration: none;
}
.testimonial .star li{
    display: inline-block;
    color: gold;
}
.testimonial .bullets{
    width: fit-content;
    margin: auto;
   /* text-align: center;*/
}
.testimonial .bullets span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px tomato;
    border-radius: 50px;
} 
.testimonial .bullets span:nth-child(2){
    width: 50px;
    background-color: tomato;
}
/****************************************************************blog**************************************/
.blog{
    background-color: rgba(225, 225, 233, 0.712);
}
.blog .blog-area{
    padding: 20px;
}
.blog .item{
    float: left;
    width: 33.3%;
    padding: 20px;
}
.blog .layer{
   background-color: #fff;
   padding: 10px; 
}
.blog .item img{
    width: 100%;
    height: 270px;

}
/**********************************contact******************/
.contact{
    padding: 70px 0;
}
.contact form{
    margin-top: 50px;
    width: 70%;
    margin: auto;
} 
 .contact form input,.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
}
.contact .form-data{
    float: left;
    width: 100%;
    padding-block: 20px;
}
.contact form .form-data:nth-child(-n+2){
    width: calc(50% - 10px);
    
    
}
.contact form .form-data:nth-child(1){
    margin-right
    : 20px;
}

.contact button{
    padding: 10px 20px;
    border: solid 1px rgba(255, 0, 0, 0.726);
    border-radius: 10px;
    background-color:rgba(255, 0, 0, 0.911) ;
    margin-top: 10px;
    color: #ededed;
    font-weight: bold;
}
/************************************************************************footer***********************************/
.footer{
    padding: 70px 0;
    background-color: rgb(80, 74, 74);
    color: #ededed;
}
.footer .footer-area{
    text-align: center;
}
.footer .footer-area i{
    padding: 10px 15px;
    font-size: 30px;
} 
.footer .footer-area i:hover{
color: rgb(255, 0, 0.726);
}
.footer .main{
    margin-top:40px;
}
.footer .main a{
    color: rgb(255, 0, 0.726);
}
/***********************************************media**************************/
@media (max-width:1999.98px){

} 

@media (max-width:991.98px){
.about .about-image,.about .about-info{
    width: 100%;
}
.about .image-frame{
    width: 100%;

}
.about-image .image{
    transform: unset;
}
.services-area ,.counter .item{
    width: 33.3%;
} 
.testimonial .text-area{
    width: 100%;
}
 
}

@media (max-width:767.98px){
.container label{
    display: block;
}
.nav-links ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(18, 19, 18, 0.63);
    width: 100%;
    max-height: 0;
    text-align: center;
    overflow: hidden;
   transition: 1s;
}
.header #menu:checked+.nav-links ul{
max-height: 100vh;
}
.nav-links ul li{
    float: none;
}
.nav-links ul li a{
    background-color: rgb(127, 127, 143);
    display: block;
    margin: 20px 0;
    padding: 20px 0;
}
.services-area ,.portfolio .item ,.counter .item{
    width: 50%;
}
/*.testimonial .image ,.testimonial .test-info{
    float: unset;
}*/
@media (max-width:575.98px){
.about .about-info ul ,.services-area ,.portfolio .item ,.counter .item{ 
    width: 100%;
}
.about .about-info ul li{
    padding-bottom: 0px;
 }


}